    <div class="row">
        <div class="container-fliud">
        <div class="col-md-12">
<div class="wall">


    <div class="row">
    <div class="col-md-12">
        <div class="login">
       <div class="row">
   
    <div class="col-md-6">
    <div class="lorem">
    <p>Welcome to LOREM</p>
    </div>
    </div>

       <div class="col-md-6">
       <div class="acc">
       <p>Have an Account ?<br/>
        Sign in</p>
        </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="up">
                    <h1>Sign up</h1>
                </div>
            </div>
        </div>



<div class="row">
    <div class="col-md-8">
        <div class="email">
            <label>Enter your username or email address</label>
<p><input type="email" placeholder="Username or email address"></p>
        </div>
    </div>
</div>


                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="user">
                        <label>User name</label>
                        <p><input type="User name" placeholder="User name"></p>
                        </div>
                        </div>

                    <div class="col-md-6">
                    <div class="user">
                        <label>Contact Number</label>
                        <p><input type="Contact Number" placeholder="Contact Number"></p>
                    </div>
                   </div>
                
                </div>
 



                <div class="row">
                    <div class="col-md-8">
                        <div class="email">
                            <label>Enter your Password</label>
                <p><input type="" placeholder="Password"></p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="but">
                            <button class="btn btn-success">sing up</button>
                        </div>
                    </div>
                </div>


 </div>
 </div>
 </div>
</div>


  




    </div>
     </div>
     </div>
    </div>