.wall{
    background-image: url("../../assets/images/wall.jpg");
        background-repeat: no-repeat;
        /* background-size: cover; */
       width: 100%;
       height: 1000px;
       
       background-color: #E5E5E5;
       
       
       
        
    }

.login{
    
    width: 500px;
    background-color:#FFFFFF
    ;
    margin-top: 30px;
    /* float: right; */
    margin-left: 800px;
    border-radius: 30px 30px 30px 30px;
    /* float: left; */
   

    
    
}
.lorem ,.acc p{
    padding: 44px;
}
.up h1{
    float: left;
    /* margin-left: 50px; */
    padding: 44px;
    margin-top: -100px;
}

.email label{
    margin-left: 30px;
}
.email p{
padding: 12px;

}
.email input{
    padding: 16px;
    width: 400px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}
.user label{
    margin-left: 30px;
}
.user{
    padding: 10px;
}
.user p{
    padding: 12px;
    
    } 
    .user input{
        padding: 10px;
    width: 200px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    }
    .but button{
        /* float: right; */
        margin-left: 150px;
        padding: 10px;
        width: 200px;
        border-radius: 10px 10px 10px 10px;
    }
    .but{
        padding: 80px;
        margin-top: -40px;
    }